<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Contact us</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="/css/main.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="/css/contact.css"
    />
    <!-- <script src="main.js"></script> -->
  </head>
  <body>
    <header class="main-header">
      <nav class="main-header__nav">
        <ul class="main-header__item-list">
          <li class="main-header__item">
            <a href="/shop" class="active">Shop</a>
          </li>
          <li class="main-header__item">
            <a href="/admin/add-product">Add Product</a>
          </li>
          <li class="main-header__item">
            <a href="/contactus">Contact Us</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <form action="/contactus/success" method="post" class="product-form">
        <div class="form-head">
          <h1>Book a call</h1>
          <p>
            Book a call slot and our representative will call you within 1hr of
            selected time
          </p>
        </div>
        <hr />
        <div class="form-body">
          <label for="name">Name:</label>
          <input type="text" name="name" id="name" />
          <label for="email">Email:</label>
          <input type="email" name="email" id="email" />
          <label for="phone">Phone</label>
          <input type="tel" name="phone" id="phone" maxlength="10" />
          <input type="submit" value="GET A CALL" />
        </div>
      </form>
    </main>
  </body>
</html>
